name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *" # 每天自动更新
  workflow_dispatch:
  push: { branches: ["master", "main"] }

jobs:
  metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.lines.svg
          user: lminimum
          token: ${{ secrets.METRICS_TOKEN }}
          base: repositories
          plugin_lines: yes
          plugin_lines_delay: 30

      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.lines.history.svg
          user: lminimum
          token: ${{ secrets.METRICS_TOKEN }}
          base: "repositories + history + languages + commits + issues + pulls + stars + forks"
          plugin_lines: yes
          plugin_lines_delay: 30
          plugin_lines_sections: repositories, history
          plugin_lines_repositories_limit: 2
          plugin_lines_history_limit: 1
          repositories_skipped: |
            @use.patterns
            */*
            +lowlighter/metrics
