name: Generate Metrics

on:
  schedule:
    - cron: "0 0 * * *" # 每天自动更新
  workflow_dispatch:
  push: { branches: ["master", "main"] }

jobs:
  metrics:
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.lines.svg
          user: lminimum
          token: ${{ secrets.METRICS_TOKEN }}
          base: repositories
          plugin_lines: yes
          plugin_lines_delay: 30
